<!DOCTYPE html>
<html>
	<head>
		<head> 
		<title><%= title %> -Restorent Booking Services</title>
			
		<meta name="description" content="<%= description %>" />
		<meta name="keywords"  content="<%= keywords %> " />
         
   
        <%- partial('partials/head') %>
       	
    </head>
	   
    <body ng-app="mapApp" id="top" data-spy="scroll" data-target=".header" data-offset="80">
	  	<%- partial('partials/header') %>
		<%- body %>
		<%- partial('partials/footer') %>
		<%- partial('partials/scripts') %>
			<script type="text/javascript" src="/assets/js/angular.min.js"></script>
				
	      	<script type="text/javascript" src="/assets/js/angular-aria.min.js"></script>
	      
	      	<script type="text/javascript" src="/assets/js/angular-route.min.js"></script>

	      	<script type="text/javascript" src="/assets/js/angular-ui-router.min.js"></script>
	      
	      	<!-- Load lodash js file -->
	      	<script type="text/javascript" src="/assets/js/lodash_bfied.min.js"></script>

			<script type="text/javascript" src="/assets/js/app.js"></script>
			<script type="text/javascript" src="/assets/js/authMod.js"></script>
			<script type="text/javascript" src="/assets/js/index.js"></script>
			<script type="text/javascript" src="/assets/js/registerSrv.js"></script>
    </body>
</html> 