    <div class="bg-slider-wrapper">
        <div id="bg-slider" class="flexslider bg-slider">
            <ul class="slides">
                <li class="slide slide-1"></li>
                <li class="slide slide-2"></li>
            </ul>
        </div>
    </div>
    <section id="home-promo" class="home-promo section">
        <div class="container text-center">                
            <h2 class="title">
                <span class="upper">We build</span>
                <span class="middle">Amazing Websites</span>
                <span class="bottom">to boost your business online</span>
            </h2>
        <div class="item col-md-12 col-sm-12 col-xs-18 text-center" style="padding:5px;">
            <button class="btn btn-cta btn-cta-primary" style="padding:5px;" type="button" data-toggle="modal" data-target="#modal-contact" data-backdrop="static">Talk to us</button>  &nbsp; &nbsp;

             
        </div>
        </div>
    </section>
</div>

<section id="who" class="who section">
    <div class="container text-center">
        <h2 class="title  .blog-entry  text-center">Who we are</h2>
        <p class="intro text-center">We are a small team of web developers and designers based in Bangalore. A dedicated and passion-filled group of professionals that come from every corner of the nation. Each bringing their own expertise and quirks!</p>
        <div class="row benefits text-center">
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe007;"></div>                        
                    <h3 class="sub-title">Skilled team</h3>
                    <div class="desc">
                        <p>We are highly experienced and certified group of web and mobile design and development professionals.</p>
                    </div>                
                </div>       
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12 sm-break">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe01c;"></div>
                    <h3 class="sub-title">Agile approach</h3>
                    <div class="desc">
                        <p>We respond to unpredictability through incremental, iterative work cadences and empirical feedback.</p>
                    </div>   
                </div>
            </div>
            <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe031;"></div>
                    <h3 class="sub-title">Latest technology</h3>
                    <div class="desc">
                        <p>We always work on latest technology stack so that your return on investment go the long way.</p>
                    </div>            
                </div>
            </div>
             <div class="item col-md-3 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="fs1" aria-hidden="true" data-icon="&#xe100;"></div>                        
                    <h3 class="sub-title">Budget efficient</h3>
                    <div class="desc">
                        <p>Wе offer exceptional services with nо hidden costs оr unexpected expenses tо disrupt уоur budget.</p>
                    </div>         
                </div>
            </div>
        </div>
        <a class="btn btn-cta btn-cta-secondary" href="/about">More about us</a>
    </div>
</section>

<!-- ******Latest work section****** -->
<section id="latest-work" class="latest-work section">
    <div class="container-fluid text-center">
        <h2 class="title text-center">Our Latest Work</h2>
        <div id="work-carousel" class="items owl-carousel owl-theme">
            
                
            <div class="item">
                <div class="row">
                    <figure class="figure-container col-md-6 col-sm-12 col-xs-12">
                        <a class="img-link" href="http://vijayhomeservices.com" target="_blank">
                            <img src="<%= cdn %>/images/work/slider-vijay-home-services.png" width="80%" height="80%">
                        </a>
                    </figure>
                    <div class="content col-md-6 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h3 class="project-title">Vijay Home Services Website </h3>
                            <ul class="meta list-unstyled">
                                <li><strong>Client:</strong> Vijay Home Services</li>
                                <li><strong>What we did:</strong> Website design, development and marketing</li>
                            </ul>
                            <div class="desc" >
                                <p>Vijay Home Services is a 15 year old Bengaluru based home services company which has gained expertise in wide range of services over the years.</p>
                            </div>
                            <p class="link" ><i class="fa fa-briefcase"></i> <a class="more-link" href="/work/vijay-home-services">See project details</a></p>
                            <p class="link" ><i class="fa fa-external-link"></i> <a class="site-link" href="http://vijayhomeservices.com" target="_blank">Website link</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <figure class="figure-container col-md-6 col-sm-12 col-xs-12">
                        <a href="http://www.inops.in/" target="_blank">
                            <img src="<%= cdn %>/images/work/ShowCase-inops2.jpg" width="80%" height="80%">
                        </a>
                    </figure>
                    <div class="content col-md-6 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h3 class="project-title">Inops Solution Website </h3>
                            <ul class="meta list-unstyled">
                                <li><strong>Client:</strong> Inops Solution</li>
                                <li><strong>What we did:</strong> Website design, development and marketing</li>
                            </ul>
                            <div class="desc">
                                <p>Inops Solution is specialist in Automating IT Operational task by delivering consulting services and developing software solutions to enhance Cisco Unified Communications deployments. Inops is a Bangalore based software company that has been providing cost-effective, leading edge Unified Communications solutions.</p>
                            </div>
                            <p class="link" ><i class="fa fa-briefcase"></i> <a class="more-link" href="/work/inops-tech-solution">See project details</a></p>
                            <p class="link" ><i class="fa fa-external-link"></i> <a class="site-link" href="http://www.inops.in/" target="_blank">Website link</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <figure class="figure-container col-md-6 col-sm-12 col-xs-12">
                        <a class="img-link" href="http://curtainsnmore.in" target="_blank">
                            <img src="<%= cdn %>/images/work/slider-curtains-n-more.png" width="80%" height="80%">
                        </a>
                    </figure>
                    <div class="content col-md-6 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h3 class="project-title">Curtains n More Website </h3>
                            <ul class="meta list-unstyled">
                                <li><strong>Client:</strong> Attire Fabrics Pvt Ltd</li>
                                <li><strong>What we did:</strong> Website design, development and marketing</li>
                            </ul>
                            <div class="desc">
                                <p>“Curtains N More" is one of the leading retail merchandise store catering to furnishing needs. They are the providers of the best quality products with assured services.</p>
                            </div>
                            <p class="link" ><i class="fa fa-briefcase"></i> <a class="more-link" href="/work/curtains-n-more">See project details</a></p>
                            <p class="link" ><i class="fa fa-external-link"></i> <a class="site-link" href="http://curtainsnmore.in" target="_blank">Website link</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <figure class="figure-container col-md-6 col-sm-12 col-xs-12">
                        <a href="http://www.saafsutra.in" target="_blank">
                            <img src="<%= cdn %>/images/work/ShowCase-saafsutra2.jpg" width="80%" height="80%">
                        </a>
                    </figure>
                    <div class="content col-md-6 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h3 class="project-title">SaafSutra Website </h3>
                            <ul class="meta list-unstyled">
                                <li><strong>Client:</strong> SaafSutra </li>
                                <li><strong>What we did:</strong> Website design, development and marketing</li>
                            </ul>
                            <div class="desc">
                                <p>SaafSutra is local e-commerce platform that is transforming the shopping experience for people like you, providing daily need services. SaafSutra aim to become the one stop-shop for all your daily needs. Currently, SaafSutra is providing laundry and grocery services in selected areas. Soon we will be covering every corners with your support. </p> 
                            </div> 
                            <p class="link" ><i class="fa fa-briefcase"></i> <a class="more-link" href="/work/saafsutra">See project details</a></p>
                            <p class="link" ><i class="fa fa-external-link"></i> <a class="site-link" href="http://www.saafsutra.in" target="_blank">Website link</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <figure class="figure-container col-md-6 col-sm-12 col-xs-12">
                        <a href="http://skdeepcleaning.com" target="_blank">
                            <img src="<%= cdn %>/images/work/slider-sk-deep-cleaning.png" width="80%" height="80%">
                        </a>
                    </figure>
                    <div class="content col-md-6 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h3 class="project-title">SK Deep Cleaning Website </h3>
                            <ul class="meta list-unstyled">
                                <li><strong>Client:</strong> SK Deep Cleaning Services</li>
                                <li><strong>What we did:</strong> Website design, development and marketing</li>
                            </ul>
                            <div class="desc">
                                <p>SK Deep Cleaning is a cleaning service company in Bangalore. They provide complete cleaning service for residential and commercial sites. Company guidelines for operation are strictly enforced to ensure that all government regulations and licensing controls are adhered to.</p>
                            </div>
                            <p class="link" ><i class="fa fa-briefcase"></i> <a class="more-link" href="/work/sk-deep-cleaning">See project details</a></p>
                            <p class="link" ><i class="fa fa-external-link"></i> <a class="site-link" href="http://skdeepcleaning.com" target="_blank">Website link</a></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item">
                <div class="row">
                    <figure class="figure-container col-md-6 col-sm-12 col-xs-12">
                        <a class="img-link" href="http://www.geocentroid.com" target="_blank">
                            <img src="<%= cdn %>/images/work/slider-geocentroid.png" width="80%" height="80%">
                        </a>
                    </figure>
                    <div class="content col-md-6 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h3 class="project-title">GeoCentroid Website </h3>
                            <ul class="meta list-unstyled">
                                <li><strong>Client:</strong> GeoCentroid Pvt Ltd</li>
                                <li><strong>What we did:</strong> Website design, development and marketing</li>
                            </ul>
                            <div class="desc">
                                <p>GeoCentroid Private limited a consulting firm offering Geospatial, Engineering and BIM related Services for the Infrastructure, GIS, Civil (AEC), Urban planning, Utility, and Geomatics industry.</p>
                                <p class="link" ><i class="fa fa-briefcase"></i> <a class="more-link" href="/work/geocentroid">See project details</a></p>
                                <p class="link" ><i class="fa fa-external-link"></i> <a class="site-link" href="http://www.geocentroid.com" target="_blank">Website link</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <figure class="figure-container col-md-6 col-sm-12 col-xs-12">
                        <a href="http://www.farfetchfacility.com/" target="_blank">
                            <img src="<%= cdn %>/images/work/ShowCase-farfetch.jpg" width="80%" height="80%">
                        </a>
                    </figure>
                    <div class="content col-md-6 col-sm-12 col-xs-12">
                        <div class="content-inner">
                            <h3 class="project-title">FarFetch Facility Website </h3>
                            <ul class="meta list-unstyled">
                                <li><strong>Client:</strong> FarFetch Facility Services</li>
                                <li><strong>What we did:</strong> Website design, development and marketing</li>
                            </ul>
                            <div class="desc">
                                <p>Farfetch Facility Services started as a sister company of Force5 in 2016. With highly experienced personnel on the panel, with around 15 years of experience in the same industry. In a short span the company has seen enormous growth mainly because of the kind of staff we have.</p>
                            </div>
                            <p class="link" ><i class="fa fa-briefcase"></i> <a class="more-link" href="/work/farfetch-facility-services">See project details</a></p>
                            <p class="link" ><i class="fa fa-external-link"></i> <a class="site-link" href="http://www.farfetchfacility.com/" target="_blank">Website link</a></p>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        <a class="btn btn-cta btn-cta-secondary" href="/work">View all projects</a>
    </div>
</section>

<!-- ******Testimonials Section****** -->
<section id="testimonials" class="testimonials section">
    <div class="container">
        <h2 class="title text-center">Testimonials</h2>
        <p class="intro text-center">Don’t just take our word for it – see what our clients are saying</p>
        <div class="row">
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="quote-container">
                        <i class="fa fa-quote-left"></i> 
                        <blockquote class="quote">I beleive Zinetgo is one of the best platform for small businesses & startups to go online.They provide high quality products & services at a very affordable price. They provide end to end solution.
                        </blockquote>
                    </div>
                    <div class="meta">
                        <div class="profile">


                            <img class="img-circle" src="<%= cdn %>/images/client/Abhimanyu2-100x100.jpg" alt="" />
                            <p class="name">Abhimainyu Das<br />
                                <span class="source-title">Founder</span><br />

                                 <a href="/work/komb-klips#abhimainyu-das" class="play-trigger"><span class="fs1" aria-hidden="true" data-icon="&#x49;"> Watch video</span></a><br />

                                Rating: <span style="color:#FFD700;align:left;"><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/></span>
                            </p>
                        </div>
                     
                        <div class="client-logo">
                                <img class="img-responsive" src="<%= cdn %>/images/client/komb.png" width=100px height=70px alt="" />
                        </div>
                       
                    </div>
                </div>
            </div>
            
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="quote-container">
                        <i class="fa fa-quote-left"></i> 
                        <blockquote class="quote">Zinetgo is one company, I would definitely recommend to all my bussiness allies to at least try once and get the experience of Zinetgo's incredible products and services. Then you will realize the difference they have from the rest.
                        </blockquote>
                    </div>
                    <div class="meta">
                       <div class="profile">
                            <img class="img-circle" src="<%= cdn %>/images/client/curtains-n-more-pradeep-agrawal.jpg" alt="" />
                            <p class="name">Pradeep Agrawal<br />
                                <span class="source-title">Founder</span><br />
                                <a href="/work/curtains-n-more#pradeep-agrawal"class="play-trigger"><span class="fs1" aria-hidden="true" data-icon="&#x49;"> Watch video</span></a><br />

                                Rating: <span style="color:#FFD700;align:left;"><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/></span>
                            </p>
                        </div> 
                        <div class="client-logo">
                            <img class="img-responsive" src="<%= cdn %>/images/client/curtains-n-more-logo.png" alt="" />
                        </div>
                    </div> 
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="quote-container">
                        <i class="fa fa-quote-left"></i> 
                        <blockquote class="quote">Zinetgo is the go to company for small &amp; medium enterprises for end to end business solutions. I would strongly recommend Zinetgo (digital platform) to grow your business online and reach out to the sky.                        
                        </blockquote>
                    </div>
                    <div class="meta">
                        <div class="profile">
                            <img class="img-circle" src="<%= cdn %>/images/client/geocentroid-vinod-kumar.jpg" alt="" />
                            <p class="name">
                                Vinod Kumar <br />
                                <span class="source-title">Founder</span><br />

                                <a href="/work/geocentroid#vinod-kumar"class="play-trigger"><span class="fs1" aria-hidden="true" data-icon="&#x49;"> Watch video</span></a><br />

                                Rating: <span style="color:#FFD700;align:left;"><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/></span>
                            </p>
                        </div>
                        <div class="client-logo">
                            <img class="img-responsive" src="<%= cdn %>/images/client/geocentroid-logo.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <div class="quote-container">
                        <i class="fa fa-quote-left"></i> 
                        <blockquote class="quote">Zinetgo provides all the digital solutions that a small and medium businesses needs under one roof. I will recommend all kind of business people to come to this platform and grow their business online.
                        </blockquote>
                    </div>
                    <div class="meta">
                        <div class="profile">
                            <img class="img-circle" src="<%= cdn %>/images/client/vijay-home-services-pankaj-choudhary.jpg" alt="" />
                            <p class="name">Pankaj Choudhary<br />
                                <span class="source-title">Founder</span><br />
                                <a href="/work/vijay-home-services#pankaj-choudhary" class="play-trigger"><span class="fs1" aria-hidden="true" data-icon="&#x49;"> Watch video</span></a><br />

                                Rating: <span style="color:#FFD700;align:left;"><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/><span data-icon="&#xe033;"/></span>
                            </p>
                        </div>
                        <div class="client-logo">
                            <img class="img-responsive" src="<%= cdn %>/images/client/vijay-home-services-logo.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center view-testimonials">
            <a class="btn btn-cta btn-cta-secondary" href="/reviews">View all reviews</a>
        </div>
    </div>
</section>

<%- partial('partials/cta') %>

<section id="latest-blog" class="latest-blog section">
    <div class="container">
        <h2 class="title text-center">Latest Blog Posts</h2>
        <div class="row">
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="/blog/free-websites-vs-professional-and-paid-websites"><img class="img-responsive" src="<%= cdn %>/images/blog/4/free-vs-professional-and-paid-website-thumb.jpg" alt="" /></a>
                    </figure>
                    <div class="content-wrapper text-center">
                        <h3 class="sub-title"><a href="/blog/free-websites-vs-professional-and-paid-websites">Free websites Vs professional and paid websites</a></h3>
                        <div class="desc">
                            <p>For people doing online business, a hosting company is the very important. However many people do not understand the huge difference between professional hosting.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="/blog/business-owners-guide-to-start-online-business"><img class="img-responsive" src="<%= cdn %>/images/blog/3/business-owners-guide-to-start-online-business-thumb.jpg" alt="" /></a>
                    </figure>
                    <div class="content-wrapper text-center">
                        <h3 class="sub-title"><a href="/blog/business-owners-guide-to-start-online-business">Business owners guide to start online business</a></h3>
                        <div class="desc">
                            <p>There are so many ways to start a business online that it can quickly become confusing. However, you can easily start making money quickly if you have a simple plan.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="/blog/7-things-to-consider-before-starting-your-website"><img class="img-responsive"  src="<%= cdn %>/images/blog/2/7-things-to-consider-before-starting-your-website-thumb.jpg" alt="" /></a>
                    </figure>
                    <div class="content-wrapper text-center">
                        <h3 class="sub-title"><a href="/blog/7-things-to-consider-before-starting-your-website">7 things to consider before starting your website</a></h3>
                        <div class="desc">
                            <p>Your website is the heart of your online business. It tells a lot more about your business to millions of people who may become your customer someday.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="item-inner">
                    <figure class="figure">
                        <a href="/blog/why-every-business-needs-a-professional-website"><img class="img-responsive" src="<%= cdn %>/images/blog/1/why-every-business-needs-a-professional-website-thumg2.jpg" alt="" /></a>
                    </figure>
                    <div class="content-wrapper text-center">
                        <h3 class="sub-title"><a href="/blog/why-every-business-needs-a-professional-website">Why every business needs a professional website</a></h3>
                        <div class="desc">
                            <p>It is time you got down to business and let your business count by making sure it appeals to everyone around and gets noticed by as many people as possible.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<%- partial('partials/contact-modal') %>
<%- partial('partials/distribution-modal') %>
<%- partial('partials/terms-modal') %> 

